* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(transparent,black);
}
.main{
    z-index: 2;
    background: transparent;
    height: 100vh;
    width: 100%;
    background: linear-gradient(black,transparent);
    pointer-events: none;
}
.box1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vh 0vh;
    
}
.box1 img{
    width: 300px;
    height: 300px;
    border: 12px solid rgb(186, 0, 0);
    border-radius: 50%;
}
.box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    font-size: 50px;
}

.box3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    gap: 6vh;
    padding: 2vh;
}
button{
    width: 100px;
    height: 25px;
    background-color: red;
    border: none;
    outline: none;
    pointer-events:all;
}
button:hover{
    background-color: black;
    border: 2px solid black;
    color: white;
    box-shadow: 0 0 3px 1px white;
}

#lapContainer{
    width: 100%;
    display: grid;
    gap: 10px;
}
.lapDiv{
    text-align: center;
    width: 100%;
}

iframe{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    scale: 1;
}

@media screen and (max-width:550px) {

    .box3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        place-items: center;
        gap: 6vh;
        padding: 2vh;
    }

    iframe{
        height: 100%;
        width: 150%;
        top: 30%;
        left: 20%;
        transform: translate(-50%,-50%);
        scale: .6;
    }
}